<html>
{{>header}}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" type="image/png" href = "/img/favicon.png" >

    <title>404!</title>
</head>    

<div class = "main-content">

<body>
    Error 404: {{error_message}}
</body>
</div>
{{>footer}}
</html>