<html>
{{>header}}

<head>
    <title>
    404!
    <link rel="icon" href = "/img/weather.png" type="image/gif">
    </title>
</head>    
<link rel="stylesheet" href="/css/styles.css">
<div class = "main-content">

<body>
    Error 404: {{error_message}}
</body>
</div>
{{>footer}}
</html>
