<!DOCTYPE html>
<div class = "main-content">

<html>
{{>header}}


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href = "/img/favicon.png" >
    <link rel="stylesheet" href="/css/styles.css" >
    <title>About</title>
    <p>This site was created by Anant Thazhemadam. It uses the MapBox and DarkSky APIs.</p>
    <p>DarkSky API is set to be deprecated. When this happens, the application is set to use the OpenWeatherMap API instead.</p>
    <p>Thus, ensuring that you're provided with a seamless experience.</p>
    <link rel="icon" href = "/img/weather.png" type="image/gif">
</head>
<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <img src="/img/me.png" class="R2D2">
    
</body>
</div>
{{>footer}}
</html>
