<!DOCTYPE html>
<div class = "main-content">

{{>header}}

<html>

<head>
    <title>
    About
    <link rel="icon" href = "/img/weather.png" type="image/gif">
    </title>
    <link rel="stylesheet" href="/css/styles.css" >
    <p>This site was created by Anant Thazhemadam. It uses the MapBox and DarkSky APIs.</p>
    <p>DarkSky API is set to be deprecated. When this happens, the application is set to use the OpenWeatherMap API instead.</p>
    <p>Thus, ensuring that you're provided with a seamless experience.</p>
    
</head>
<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <img src="/img/me.png" class="R2D2">
    
</body>
</div>
{{>footer}}
</html>
