<!DOCTYPE html>
<div class = "main-content">
{{>header}}
<html>

<head>
    <title>Help</title>
    <link rel="shortcut icon" type="image/png" href = "/img/favicon.png" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
        <p>{{helpText}}</p>
</body>
</div> 
{{>footer}}
</html>