<!DOCTYPE html>
<div class = "main-content">
{{>header}}
<html>

<head>
    <title>Help</title>
    <link rel="icon" href = "/img/weather.png" type="image/gif">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
        <p>{{helpText}}</p>
</body>
</div> 
{{>footer}}
</html>