<html>
{{>header}}

<head>
    <title>Not Found!</title>
</head>    
<link rel="stylesheet" href="/css/styles.css">
<link rel="icon" href = "/img/weather.png" type="image/gif">
<div class = "main-content">

<body>
  {{error_message}}
</body>
</div>
{{>footer}}
</html>